boto3
asgiref
blinker
certifi
charset-normalizer
click
Django
Flask
idna
image
itsdangerous
Jinja2
jmespath
MarkupSafe
python-dateutil
requests
s3transfer
six
sqlparse
urllib3
Werkzeug
faiss-cpu
pypdf
pypdf2
langchain
anthropic
tika
bs4
fpdf
selenium
flask-cors
opensearch-py