.login-form{
    width: 100%;
    height: auto;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .welcome-message {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
  }
  